{{#with place}}
<form method="POST">
  <label for="name-input">Name</label>
  <input id="name-input" type="text" name="name" value="{{name}}" required placeholder="Name"/>

  <label id="type-input">Select an Option</label>
  <select name="type" id="type-input"/>
    <option value="{{type}}">{{type}}</option>
    <option value="coffee_shop">Coffee Shop</option>
    <option value="bookstore">Bookstore</option>
  </select>
  <br/>

  <button>Edit Place</button>

</form>
{{/with}}